* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* basics  */

body {
  background-color: rgb(59, 56, 56);
}
a,
i,
p {
  color: rgb(190, 190, 190);
}
a:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(0, 0, 0, 0.034) !important;
  /*dont know why they dont work without imp[ortant */
}
h1 {
  color: aliceblue;
  font-size: 2rem;
  letter-spacing: -0.2rem;
}
img {
  width: 10rem;
}
/* sorting out the SEARCHBAR  */
.searchbarteam {
  background-color: rgb(37, 37, 37);
}
.herosection input {
  border: none;
  width: 17rem;
}

input::placeholder {
  color: rgb(190, 190, 190);
  background-color: black;
  height: 20rem;
}
/* sorting out the whole HERO SECTION WITH SEARCHBAR  */
.herosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.herosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.herosection img {
  width: 3rem;
}
.herosection i {
  color: aliceblue;
}
.logo {
  display: flex;
}

/* spread Menu */
aside {
  display: flex;
  flex-direction: column;

  justify-content: left;
}

.spread-menu a,
.subscriptionsclass a,
.morefromyoutube a {
  display: flex;
  padding: 0.3rem;
}
.gms1 {
  margin: 1rem 0 1rem 0;
  border-bottom: 2px rgb(133, 137, 141) solid;
}

.spread-menu,
.subscriptionsclass,
.morefromyoutube {
  border-bottom: 2px rgb(133, 137, 141) solid;
  text-decoration: none;
  height: auto;
  list-style-type: none;
  width: 12rem;
  padding-right: 3rem;
}

/* Menu  home, videos, playlists menu etc  */
.top-menu {
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(37, 32, 32);
}
/* round logo-button-and title subscribed button */
.logo-button-andstuff {
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.logo-button-andstuff input {
  border: 0.5rem rgb(82, 72, 72) solid;
  color: rgb(190, 190, 190);
  background-color: rgb(82, 72, 72);
}
.logo-button-andstuff i {
  padding: 1rem;
}

/* home, videos, playlists menu etc */

.top-menu a {
  padding: 1.5rem;
}
.menu li {
  display: inline;
}
.top-menu nav ul {
  display: flex;
  justify-content: space-evenly;
}

/* links */
a {
  text-decoration: none;
  transition: 0.5s;
  width: 40vw;
}
a:hover {
  background-color: lightgray;
  transform: scale(2);
}

/*  Main   */

.main-container {
  display: flex;
  flex-direction: row;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: rgb(37, 32, 32);
}

/*
.main-container .main {
  width: 50%;
  height: 80vh;
  border: 2px lightgreen dashed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
*/

/* for the bigg banner and the small videos  */
.bigimage {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.bigimage img {
  width: 40rem;
}

.herologo {
  width: 15rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.herologo img {
  width: 5rem;
  border: 3px white solid;
  border-radius: 50%;
}

/* for the buttons, upload sort by etc */
.vidoptions {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vidoptions div {
  display: flex;
  width: 11rem;
}
.vidoptions div a:nth-last-child(1) {
  display: flex;
  align-items: right;
  justify-content: right;
}
.yliko {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(3, 3, 3, 0.733);
}
.smallvideos {
  display: block;
  align-items: left;
  justify-content: center;
  padding: 0.4rem;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
}

.smallvideos p {
  color: rgb(255, 255, 255);
}
