* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* basics  */

body {
  background-color: rgb(59, 56, 56);
}
a,
i,
p {
  color: rgb(190, 190, 190);
}
a:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(0, 0, 0, 0.034) !important;
  /*dont know why they dont work without imp[ortant */
}
h1 {
  color: aliceblue;
  font-size: 2rem;
  letter-spacing: -0.2rem;
}
img {
  width: 10rem;
}
/* sorting out the SEARCHBAR  */
.searchbarteam {
  background-color: rgb(37, 37, 37);
}
.herosection input {
  border: none;
  width: 17rem;
}

input::placeholder {
  color: rgb(190, 190, 190);
  background-color: black;
  height: 20rem;
}
/* sorting out the whole HERO SECTION WITH SEARCHBAR  */
.herosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.herosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.herosection img {
  width: 3rem;
}
.herosection i {
  color: aliceblue;
}
.logo {
  display: flex;
}
.logo-button-andstuff {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  width: 100vw;
}
/* spread Menu */
.spread-menu a,
.subscriptionsclass a,
.morefromyoutube a {
  display: flex;
  justify-content: left;
  padding: 0.3rem;
}

.subscriptionsclass,
.morefromyoutube {
  border: 1px rgb(133, 137, 141) solid;
  text-decoration: none;
  height: auto;
  list-style-type: none;

  padding-right: 3rem;
}

/* Menu */
.top-menu {
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: left;
}
.top-menu a {
  padding: 1rem;
}
.menu li {
  display: inline;
}
.top-menu nav ul {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: row; */
}

/* links */
a {
  text-decoration: none;
  transition: 0.5s;
  width: 40vw;
}
a:hover {
  background-color: lightgray;
  transform: scale(2);
}
/*  Display: flex 
Flex-direction: row | row-reverse | column | column-reverse
align-self: flex-start | flex-end | center | baseline | stretch
justify-content: start |  center | space-between | space-around | space-evenly   */
/*  Main   */

.main-container {
  display: flex;
  flex-direction: row;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*
.main-container .main {
  width: 50%;
  height: 80vh;
  border: 2px lightgreen dashed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
*/

/* for the bigg banner and the small videos  */
.bigimage {
  width: 50rem;
  color: aliceblue;
  margin-right: 30rem;
}
.yliko {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.smallvideos {
  display: block;
  align-items: left;
  justify-content: center;
  padding: 0.4rem;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: rgb(0, 0, 0);
}
.smallvideos p {
  color: rgb(255, 255, 255);
}
.herologo img {
  width: 5rem;

  border-radius: 50%;
}
aside {
  display: flex;
  flex-direction: column;
}

.top-menu {
  display: flex;
  align-items: left;
  justify-content: center;
}
