* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* basics  */

body {
  background-color: rgb(59, 56, 56);
}
a,
i,
p {
  color: rgb(190, 190, 190);
}
a:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(0, 0, 0, 0.034) !important;
  /*dont know why they dont work without imp[ortant */
}
h1 {
  color: aliceblue;
  font-size: 2rem;
  letter-spacing: -0.2rem;
}
img {
  width: 10rem;
}

/*
.container-ola {

*/
.main-container {
  display: grid;
  grid-template-areas:
    "herosection herosection herosection"
    "aside main main"
    "aside main main";
}

/* sorting out the whole HERO SECTION WITH SEARCHBAR  */
.herosection {
  grid-area: herosection;
  margin: 0 0.8rem 0 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.herosection div:nth-child(1) {
  display: flex;
  width: 3rem;
}
.herosection img {
  width: 3rem;
}
/* sorting out the SEARCHBAR  */

.searchbarteam {
  background-color: rgb(59, 56, 56);
}
.herosection input {
  border: none;
  width: 17rem;
}

input::placeholder {
  color: rgb(190, 190, 190);
  background-color: black;
  border: none;
}

.herosection i:nth-child(2) {
  color: rgb(163, 173, 182);

  background-color: rgb(77, 74, 70);
}
.logo {
  width: 2.5rem;
  height: 1rem;

  display: flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

/* spread Menu */
.spread-menu,
aside {
  grid-area: aside;
  width: 4rem;
  display: inline;
}
.youti {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 6rem;
}
.x-menu {
  background-color: rgba(255, 255, 255, 0);
  width: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}
.first-l,
.sec-l,
.thr-l {
  width: 3rem;
  height: 0.3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 10%;
}

.x-menu:hover .first-l {
  transform: rotate(0.15turn);
  position: absolute;
}
.x-menu:hover .sec-l {
  display: none;
}
.x-menu:hover .thr-l {
  transform: rotate(-0.15turn);
  background-color: rgb(0, 0, 0);
}
.logo img {
  width: 2.5rem;
}

.spread-menu a,
.subscriptionsclass a,
.morefromyoutube a {
  display: flex;
  padding: 0.3rem;
}
.subbar {
  margin: 1rem 0 1rem 0;
  border-bottom: 2px rgb(133, 137, 141) solid;
}
.spread-menu,
.subscriptionsclass,
.morefromyoutube {
  border-bottom: 2px rgb(133, 137, 141) solid;
  text-decoration: none;
  height: auto;
  list-style-type: none;
  width: 6rem;
  padding-right: 3rem;
}

/*  Main   */
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(37, 32, 32);
}

/* for the bigg banner and the small videos  */
.bigimage {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.bigimage img {
  width: 40rem;
}

.herologo {
  width: 15rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.herologo img {
  width: 5rem;
  border: 3px white solid;
  border-radius: 50%;
}

/* round logo-button-and title subscribed button */
.logo-button-andstuff {
  padding-top: 1rem;
  padding-left: 3rem;

  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;

  width: 80rem;
}
.logo-button-andstuff input {
  border: 0.5rem rgb(82, 72, 72) solid;
  color: rgb(190, 190, 190);
  background-color: rgb(82, 72, 72);
}
.logo-button-andstuff i {
  padding: 1rem;
}

/* Menu  home, videos, playlists menu etc  */
.top-menu {
  padding-left: 3rem;

  width: 80rem;
  height: 6vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(37, 32, 32);
}
.top-menu a {
  padding: 1.5rem;
}
.menu li {
  display: inline;
}
.top-menu nav ul {
  display: flex;
  justify-content: space-evenly;
}

/* links */
a {
  text-decoration: none;
  transition: 0.5s;
  width: 40vw;
}
a:hover {
  background-color: lightgray;
}

/* for the buttons, upload sort by etc */
.vidoptions {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  padding-left: 3.3rem;
  width: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: black;
}

.vidoptions div {
  display: flex;
  width: 11rem;
}
.vidoptions div a:nth-last-child(1) {
  display: flex;
  align-items: right;
  justify-content: right;
}
.yliko {
  padding-left: 3rem;
  width: 80rem;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: flex-start;
  background-color: rgba(3, 3, 3, 0.733);
}
.smallvideos {
  display: block;
  align-items: left;
  justify-content: center;
  padding: 0.4rem;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
}

.smallvideos p {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  .herosection {
    margin: 0;
    grid-area: herosection;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .spread-menu,
  aside {
    grid-area: aside;
    width: auto;
    display: none;
    flex-direction: column;
    width: 100vw;
    height: auto;
  }
  .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgb(37, 32, 32);
    width: 90vw;
    height: auto;

    margin: 0%;
  }
  .bigimage img {
    width: 90vw;
  }
  .vidoptions {
    width: 90vw;
    align-items: center;
    justify-content: center;
    display: flex;

    background-color: black;
  }
  .logo-button-andstuff {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;

    width: 70vw;
  }
  .yliko {
    width: 90vw;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    display: flex;

    justify-content: center;
    background-color: rgba(3, 3, 3, 0.733);
  }
  .top-menu {
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;

    justify-content: center;
    background-color: rgb(37, 32, 32);
  }

  .menu li {
    display: block;
    padding: 0.3rem;
    justify-content: center;
    text-align: center;
  }
  .top-menu nav ul {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  .smallvideos {
    display: block;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
  }
}
