/*  Main   */
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $backround-col;
}
/* basics  */

body {
  background-color: $backround-col;
}
a,
i,
p {
  color: $darkwhite-fortext;
}
a:hover {
  color: $abs-white !important;
  background-color: rgba(0, 0, 0, 0.034) !important;
  /*dont know why they dont work without imp[ortant */
}
h1 {
  color: $abs-white;
  font-size: 2rem;
  letter-spacing: -0.2rem;
}
img {
  width: 10rem;
}
ul {
  list-style-type: none;
}
/*
    .container-ola {
    
    */
.main-container {
  display: grid;
  grid-template-areas:
    "herosection herosection herosection"
    "aside main main"
    "aside main main";
}

/* sorting out the whole HERO SECTION WITH SEARCHBAR  */
.herosection {
  grid-area: herosection;
  margin: 0 0.8rem 0 0.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.herosection div:nth-child(1) {
  display: flex;
  width: 3rem;
}
.herosection img {
  width: 3rem;
}

.helpmeeeee {
  color: black !important;
  background-color: white !important;
}
