/* sorting out the SEARCHBAR  */
.searchbarteam {
  background-color: $dark-backround;
}
.herosection {
  input {
    border: none;
    width: 17rem;
  }
  i {
    &:nth-child(2) {
      color: $darkwhite-fortext;
      background-color: $button-col;
    }
  }
}
input {
  &::placeholder {
    color: $darkwhite-fortext;
    background-color: $ab-black;
    border: none;
  }
}
.logo {
  width: 2.5rem;
  height: 1rem;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
