$dark-backround: rgb(59, 56, 56);
// ideal for searchbarteam backround for herosection i:nth-child(2)
//.top-menu
$darkwhite-fortext: rgb(190, 190, 190);
// ideal for p,i,a
//input::placeholder .herosection i:nth-child(2)
//a:hover
//.subbar
//.spread-menu,
//.subscriptionsclass,
//.morefromyoutube
//.logo-button-andstuff input
$abs-white: aliceblue;
//ideal for h1
//.herologo img
//.bigimage
$ab-black: black;
//.vidoptions
//ideal for backrounds input::placeholder
// .first-l,
// .sec-l,
// .thr-l
//.x-menu:hover .thr-l
// backround yliko ..smallvideos
$backround-col: rgb(37, 32, 32);
//ideal for .main
$button-col: rgb(82, 72, 72);
