* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@mixin flexSetup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .main-container {
    @include flexSetup();
    height: auto;
  }
  .herosection {
    width: 90vw;
    @include flexSetup();
    flex-direction: column;

    height: auto;
    &:nth-child(1) {
      display: flex;
      flex-direction: row;
      justify-content: left;
      flex-wrap: wrap;
      margin: 1rem 0rem 0rem 0;
    }
  }
  .spread-menu {
    width: auto;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vw;
    height: auto;
    margin: 1rem 0rem 1rem 0;
  }
  aside {
    width: auto;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vw;
    height: auto;
    margin: 1rem 0rem 1rem 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: $backround-col;
    width: 90vw;
    height: auto;
  }
  .bigimage {
    img {
      width: 90vw;
    }
  }
  .vidoptions {
    width: 90vw;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: $ab-black;
  }
  .logo-button-andstuff {
    @include flexSetup();
    width: 90vw;
    div {
      &:nth-child(n) {
        margin: 10px;
      }
    }
  }
  .yliko {
    width: 90vw;
    @include flexSetup();
    background-color: rgba(3, 3, 3, 0.733);
  }
  .top-menu {
    width: 90vw;
    @include flexSetup();
    background-color: $backround-col;
    nav {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .menu {
    li {
      display: block;
      padding: 0.3rem;
      justify-content: center;
      text-align: center;
    }
  }
  .smallvideos {
    display: block;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $ab-black;
  }
}
