/* sorting out the SEARCHBAR  */

.searchbarteam {
  background-color: rgb(59, 56, 56);
}
.herosection input {
  border: none;
  width: 17rem;
}

input::placeholder {
  color: rgb(190, 190, 190);
  background-color: black;
  border: none;
}

.herosection i:nth-child(2) {
  color: rgb(163, 173, 182);

  background-color: rgb(77, 74, 70);
}
.logo {
  width: 2.5rem;
  height: 1rem;

  display: flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
